.contactteam{ 
    text-align: center;
}
.contactteam img{
    width:100%;
}
.contactteam > div{ 
    background:rgba(50, 50, 50, 0.2);
    border:5px solid white; 
}
@media screen and (max-width:950px){
    .contactteam img{
        width:75%; 
    }
}
.name{
    margin-bottom: 10px;
    font: x-large bold;
}
.position{  
    padding-bottom: 5px;
    color: rgb(13, 13, 156);
    border-bottom: 2px solid red;
    font:large italic;
}
.detail{    
    
}
.more{
    text-align: left;
    margin: 10px;
}
.more button{
    position: relative;
    float:none;
    padding: 5px;
    background: #009688;
    border:none;
    outline:none;
    box-shadow: 0px 5px 4px gray;
    color: white;
    margin:10% auto auto 12.5%;
}
.more button:active{
    bottom:-2px;
    box-shadow: 0px 0px gray;
}
.more i{
    margin:5px 10% 10px 0%;
    font-size: 18px;
    color:#009688;
}
.more span{  
    display: inline-block;
    width:80%;
    vertical-align: middle;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.detail span{  
    
}
.detail span a{ 
    
}
.detail span a i{ 
    font-size: 20px;
    width: 30px;
    padding:5px;
    color:white;
    border-radius: 50%;
}
.comment{ 
    background:rgba(50,50,50,0.2);
}
.contactform{   
    
}
.contactform header{
    background:#009688;
    color: #fff;
    font-family:  sans-serif;
    font-size: large;
    text-align: center;
    text-transform: uppercase; 
    text-shadow:3px 2px grey; 
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}
.contactform form span{
    color: white;
    font-style: italic;
}
.contactform [type='text'],.contactform [type='password'],.contactform [type='email'],.contactform textarea {  
    margin: 5px;  
    border-radius: 8px; 
    border: thin solid grey;
    outline: none;
}
.contactform [type='text']:hover,.contactform [type='password']:hover,.contactform [type='email']:hover,.contactform textarea:hover {
    box-shadow: 0px 0px 4px rgb(17, 3, 3);
}
.choose{
    color: white;  
    text-align: center;
    font-weight: bolder; 
    padding: 10px;
    margin: 20px 5px; 
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px grey;
}
.choose [type='radio']{
    width: 12px;
    height: 12px; 
}
.contactform textarea{  
    height: 100px;
    float: none;
    resize: none;
}
.send{
    box-shadow: 0px 0px 100px rgba(0,0,0,0.4);
    border: 1px solid #009688;
    overflow-y: auto;
    overflow-x: hidden;
}
.send button[type='submit']{ 
    box-shadow: 0px 5px 6px grey;
    border: none;
    outline: none;
    background: #009688;
    color: white; 
    padding: 5px;
}
.send button[type='submit']:focus{
    box-shadow: 0px 0px 6px grey;
}
.contactinfo{  
    margin: 100px 0;  
}
.contactinfo header{
    max-width: 150px; 
    border: 1px solid cyan; 
    border-bottom: 3px solid cyan;
    border-radius:10px;
    padding: 5px;
    margin-bottom: 15px;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    color: darkorange;
    text-shadow: 1px 1px gray;
    background: white;
} 
.contact i{
    margin:5px 10% 5px 0%;
    font-size: 18px;
    color:#009688;
}
.contact p span{  
    display: inline-block;
    width:80%;
    vertical-align: middle;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mobile div{
    margin-top: 3px; 
    width: fit-content;
}
.mobile div img{
    border:1.5px solid green;
    border-radius: 6px;
}
.mobile div:hover{
    opacity: 0.4;
}
.companysocial span{  
    color:white;
    font-size: 20px;
    width: 30px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.companysocial span:hover{
    opacity:0.4;
}
@media screen and (max-width:650px){ 
    .contact{
        position: relative;
        margin: 0px;
        padding: 0px;
        width: 100%;
    } 
    .contact p a{
        
    }
    .companysocial{
        position: absolute;
        left:90%;
        top:3%;
    }
    .mobile{
        width: 100%;
        float: none;
        clear: both;  
    }
}  
.footer{
    clear:both;
}
